body {
  padding: 10px;
}

.searchForm {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

form.searchForm input[type=text] {
  padding: 8px;
  font-size: 17px;
  width: 400px;
  background: #0c3d021e;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: 0.3s;
}

form.searchForm input[type=text]:hover {
  background-color: #2a522a85;
  color: white;
}

form.searchForm button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

#searchBtn {
  background: url(../images/search.png);
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
}

#works {
  display: grid;
  max-width: 1000px;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 20;
  margin-top: 8px;
}

.work-item {
  border: solid;
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
  position: relative;
}

#likeBtn {
  background: url(../images/like.png);
  background-size: cover;
}

.work-item button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.fav {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}